<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Certificat d'adoption{% endblock %}</title>

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

        @font-face {
            font-family: 'Courier New';
            src: url('http://preprod.coralguardian.lescanumeriques.fr/app/uploads/fonts/CourierNewPS-BoldMT.woff2') format('woff2'),
            url('http://preprod.coralguardian.lescanumeriques.fr/app/uploads/fonts/CourierNewPS-BoldMT.woff') format('woff');
            font-weight: bold;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Courier New';
            src: url('http://preprod.coralguardian.lescanumeriques.fr/app/uploads/fonts/CourierNewPS-BoldItalicMT.woff2') format('woff2'),
            url('http://preprod.coralguardian.lescanumeriques.fr/app/uploads/fonts/CourierNewPS-BoldItalicMT.woff') format('woff');
            font-weight: bold;
            font-style: italic;
            font-display: swap;
        }

        @font-face {
            font-family: 'Courier New';
            src: url('http://preprod.coralguardian.lescanumeriques.fr/app/uploads/fonts/CourierNewPSMT.woff2') format('woff2'),
            url('http://preprod.coralguardian.lescanumeriques.fr/app/uploads/fonts/CourierNewPSMT.woff') format('woff');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }

        @font-face {
            font-family: 'Courier New';
            src: url('http://preprod.coralguardian.lescanumeriques.fr/app/uploads/fonts/CourierNewPS-ItalicMT.woff2') format('woff2'),
            url('http://preprod.coralguardian.lescanumeriques.fr/app/uploads/fonts/CourierNewPS-ItalicMT.woff') format('woff');
            font-weight: normal;
            font-style: italic;
            font-display: swap;
        }

        @page{
            margin: -1px;
        }

        html {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            height: 1123px;
            width: 795px;
        }

        * {
            font-family: 'Open Sans', sans-serif;
            letter-spacing: 1px;
        }

        .certif-wrapper {
            background: url("data:image/png;base64,{{backgroundImg}}") no-repeat;
            background-size: cover;
            margin: 0 auto;
            padding: 110px 70px 0;
            font-family: 'Open Sans', sans-serif;
            box-sizing: border-box;
            position: relative;
            height: 100%;
            width: 100%;
        }

        .typo-courrier {
            font-family: "Courier New";
            font-weight: 600;
            letter-spacing: 0px;
        }

        .certif-stamp {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 200px;
            /*height: 280px; !* garder le ratio *!*/
        }

        .certif-content {
            background-color: #28335f;
            border: 1px solid #333b64;
            padding: 70px 50px 20px;
            color: #FFF;
            font-weight: 600;
        }

        .certif-content header {
            text-align: center;
            margin-bottom: 60px;
            padding: 0 50px;
        }

        .certif-content header.less-margin {
            text-align: center;
            margin-bottom: 30px;
        }

        .certif-content header h1 {
            text-transform: uppercase;
            font-size: 32px;
            position: relative;
            font-weight: 700;
            margin-bottom: 15px;
        }

        .certif-content header hr {
            margin: 0 auto 10px;
        }

        .certif-content header hr.larger {
            margin: 20px auto
        }

        .certif-content header span {
            font-size: 20px;
            font-weight: 600;
        }

        .certif-content .text-uppercase {
            text-transform: uppercase;
        }

        .content-pics .pic-corail {
            display: inline-block;
            margin: 0 4% 0 0;
            width: 66%;
            height: 365px
        }

        .content-pics .pic-corail img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .content-pics .pic-transplanteur {
            display: inline-block;
            width: 29%;
        }

        .content-pics .pic-transplanteur .text-uppercase {
            font-weight: 500;
            font-size: 15px;
        }

        .content-pics .pic-transplanteur .typo-courrier {
            font-size: 18px;
        }

        .font-size-lower {
          font-size: 17px !important;
        }

        .content-pics .pic-transplanteur img {
            margin: 0 0 10px 0;
            display: block;
        }

        .certif-content img {
            display: block;
            width: 100%;
        }

        .certif-content .content-infos {
            padding: 20px 0 0 0;
            font-size: 16px;
            font-weight: 500;
        }

        .certif-content .content-infos .typo-courrier {
            font-size: 18px;
        }

        .certif-content .content-infos .infos-title {
            font-size: 32px;
            display: block;
            margin: 0 0 15px 0;
            font-weight: 600;
        }

        .certif-content hr {
            border: 0;
            border-bottom: 1px solid #FFF;
            width: 150px;
        }

        hr.bottom-hr {
            margin: 25px auto;
        }

        .certif-website {
            text-align: center;
            font-weight: 600;
            color: #FFF;
            display: block;
            text-decoration: none;
            font-size: 24px;
        }

        .certif-wrapper .logo {
            display: block;
            margin: 20px auto 0;
            width: 100px;
            /*height: 130px;*/
        }

        .certif-wrapper.certif-reef .logo {
            margin: 20px auto 0;
        }

        .infos .text-uppercase {
            font-family: Open Sans, sans-serif;
            font-weight: 600;
        }

        .letter-spacing-unset {
            letter-spacing: 0px;
        }
    </style>
</head>

<body>
{% block body %}
{% endblock %}
</body>
</html>
